extends layout

block content
    h1(class="headline") Hey, there! Hope you're having a thrifty #{moment(Date.now()).format('dddd')}.
    if expenses.length
        p #{moment(Date.now()).format('DD/MM/YYYY')}
        table
            thead(class="table-header")
                td ID
                td Name
                td Cost
                td Category
            each item in expenses
                tr(class="table-row")
                    td(class="item-id") #{item.id}
                    td(class="item-name") #{item.name}
                    td(class="item-cost") #{item.cost}
                    td(class="item-category") #{item.category}

        //- pre= JSON.stringify(expenses, null, 2)
    else
        p No expenses yet!
    script.
        (!{JSON.stringify(expenses)})
