extends layout

block content
    h1 Hello!
    if expenses.length
        p Here are the expenses:
        table
            thead
                td ID
                td Name
                td Cost
            each item in expenses
                tr
                    td #{item.id}
                    td #{item.name}
                    td #{item.cost}
                    td #{item.category}

        pre= JSON.stringify(expenses, null, 2)
    else
        p No expenses yet!
    script.
        (!{JSON.stringify(expenses)})
